#root{
  display: flex;
  justify-content: center;
}
.app{
width: 1000px
}
.page-header{
  display: flex;
  justify-content: center;
}

.project-list-item{
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.project-stage-card{
  display: flex;
  
} 
.list-item-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 7px 3px 5px 3px;
  border-radius: 15px;
}
.project-title{
  margin: 5px;
  padding: 10px;
  align-items:center;

}
.update-project-btn{
  margin:3px;
}
.view-more-btn{
  display:flex;
  justify-content: center;
  align-items:center;
  margin: 0 400px 10px 400px;
}
.more-info-card{
  justify-content: space-around;
}
.project-stage-card{
}
.project-stage-box{
  padding: 2px;
  margin: 2px 10px 2px 10px;
  border: 1px solid black;
}